_ReSharper.SitefinityWebApp
App_Data
bin
/SitefinityHotelPOC/SitefinityWebApp.csproj.user
/SitefinityHotelPOC/SitefinityWebApp.suo
/SitefinityHotelPOC/obj
/sitefinityhotelpoc/app_data/sitefinity/Logs/*