<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0">
	<notifications newPostNotificationTemplateId="d1487d71-22cc-4bf3-a892-04b82fb2f899" newThreadNotificationTemplateId="d0d63d2b-33dd-44fb-b128-9914ddb4e83d" />
</forumsConfig>