<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3800.0" projectName="SitefinityHotelPOC" dateCreated="2012-12-18 17:18:36Z">
	<defaultSite id="c881c522-8907-4d8a-9868-5c9263e9370f" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" homePageId="aace3588-e55f-4428-9038-089503d91a5a" />
</projectConfig>