<div>
    <h2>
        Get In Touch
    </h2>
    <div>
        <img src="/Resources/Img/SmallPhone.jpg">
        <h3>
            085457 76 76 76</h3>
        <p>
            *local rate</p>
    </div>
<button>
    Ask a Question</button>
<button>
    Contact me</button>
</div> 