<div>
  <img style="position: relative; width: 100%" src="/Resources/Img/BWBusinessAccount.jpg">
  <p>
        Best Western
    </p>
  <p>
      Business account</p>
      @Html.ActionLink("Join today for Free!","Index")
</div>